# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# IDEs (PyCharm, VS Code)
# =========================
.idea/
.vscode/

# =========================
# OS-specific files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
